<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Événement</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Ajouter un Événement</h1>

        <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary mb-4">
            <i class="fas fa-arrow-left"></i> Retour
        </a>
        
        <form method="POST" enctype="multipart/form-data" action="{% url 'add_event' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Nom de l'Événement</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Nom de l'événement" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Description de l'événement" required></textarea>
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="datetime-local" class="form-control" id="date" name="date" required>
            </div>
            <div class="form-group">
                <label for="location">Emplacement</label>
                <input type="text" class="form-control" id="location" name="location" placeholder="Emplacement de l'événement" required>
            </div>
            <div class="form-group">
                <label for="seating_capacity">Capacité d'Accueil</label>
                <input type="number" class="form-control" id="seating_capacity" name="seating_capacity" placeholder="Nombre de places disponibles" required>
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control-file" id="image" name="image" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-4">Ajouter l'Événement</button>
        </form>
    </div>
</body>
</html>
